{% extends 'base.html' %}
{% block content %}
    <title>{% block title %} - Add Your Own {% endblock %}</title>
    <section class="container">
        <h3>Add your own cocktail!</h3>
    </section>

    <!-- Contact -->
    <main class="container">
        <form action="" method="POST">
            <input type="text" name="liquor_name" id="liquor_name" placeholder="Liquor Name" required>
            <input type="text" name="name" id="name" placeholder="Name Of Your Drink" required>
            <input type="text" name="image" id="image" placeholder="Image URL" required>
            <input type="text" name="ingredients" id="" placeholder="Add ingredient" required>
            <input type="text" name="ingredients" id="" placeholder="Add ingredient">
            <input type="text" name="notes" id="" placeholder="Add Step" required>
            <input type="text" name="notes" id="" placeholder="Add Step">
            <button id="submit-btn" class="card" type="submit">Send Message</button>
        </form>
    </main>
    <!-- End -->
{% endblock %}