<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Drinking Hub</title>
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <div>
                <h1><a href="#">Home</a></h1>
            </div>
            <ul class="nav-links">
                <li><a href="#">All Drinks</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Add Your Own!</a></li>
            </ul>
        </nav>
    </header>
    <!-- End -->
    {% block content %}

    {% endblock %}
</body>
</html>