<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Drinking Hub{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <div>
                <h1><a href="{{url_for('home')}}">Home</a></h1>
            </div>
            <ul class="nav-links">
                <li><a href="{{url_for('get_drinks')}}">Cocktails</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="{{url_for('add_cocktail')}}">Add My Own!</a></li>
            </ul>
            <div class="burger">
                <div class="top-line"></div>
                <div class="mid-line"></div>
                <div class="btm-line"></div>
            </div>
        </nav>
    </header>
    <!-- End -->
    {% block content %}

    {% endblock %}
    <!-- Footer -->
    <footer>
        <div class="footerLeft">
            <p><a href="#">Contact</a></p>
            <p><a href="#">Privacy Policy</a></p>
        </div>
        <div class="footerRight">
            <p>&#169;JoeNapper</p>
        </div>
    </footer>
    <!-- End -->

    <!-- Scripts -->
    <script src="{{url_for('static', filename='js/header.js')}}"></script>
</body>
</html>