{% extends 'base.html' %}
{% block content %}
    <!-- Page Title -->
    <title>{% block title %} - {{drinks.name}} {% endblock %}</title>
    <!-- End -->

    <!-- Back To Results -->
    <section class="container">
        <a class="backToList" href="{{url_for('get_drinks')}}">Back To List</a>  
    </section>
    <!-- End -->

    <!-- Cocktail Details -->
    <main class="container">
        <h2 class="cocktailName">{{drinks.name}}</h2>
        <div class="cocktailTop">
            <div>
                <img class="cocktailImage" src="{{drinks.image}}" alt="{{drinks.drink_name}}">
            </div>
            <div class="cocktailIngredients">
                <h4 class="cocktailHeader">Ingredients</h4>
                {% for ingredient in ingredients %}
                    <li><p><span class="col">&gt;</span> {{ ingredient }}</p></li>
                {% endfor %} 
                <h4 class="cocktailHeader mobNone">How to make:</h4>
                <p class="mobNone">{{ drinks.notes }}</p>
            </div>
        </div>
        <h4 class="cocktailHeader deskNone">How to make:</h4>
        <p class="deskNone">{{ drinks.notes }}</p>

        <div class="manage">
            <a class="manageBtn editBtn" href="{{url_for('edit_cocktail', drink_id=drinks._id)}}">Edit</a>
            <a class="manageBtn deleteBtn" id="delValidation" href="#">Delete</a> 
        </div>

        <div class="cocktailLiquors">
            {% for liquor in liquors %}
                <li>{{ liquor }}</li>
            {% endfor %}
        </div>
    </main>
    <!-- End -->
    
    <!-- Delete Validation -->
    <div id="modalPopup" class="modal">
        <div class="modalContent">
            <span class="closeModalBtn">&times;</span>
            <p>Are you sure you want to delete this cocktail?</p>
            <div class="validation">
                <a id="noVal">No</a>
                <a href="{{url_for('delete_cocktail', drink_id=drinks._id)}}">Yes</a>
            </div>
        </div>
    </div>
    <!-- End -->
{% endblock %}