{% extends 'base.html' %}
{% block content %}
    <title>{% block title %} - {{drinks.drink_name}} {% endblock %}</title>

    <section class="container">
        <a class="backToList" href="{{url_for('get_drinks')}}">Back To List</a>
    </section>

    <main class="container">
        <h2>{{drinks.drink_name}}</h2>
        <div class="cocktailTop">
            <div>
                <img class="cocktailImage" src="{{drinks.image}}" alt="{{drinks.drink_name}}">
            </div>
            <div class="cocktailIngredients">
                <h4>Ingredients</h4>
                <!-- {{drinks.ingredients}} -->
                {% for ingredient in ingredients %}
                    <li><p><span class="col">&gt;</span> {{ ingredient }}</p></li>
                {% endfor %} 
                <h4>How to make:</h4>
                <p>{{ drinks.notes }}</p>
            </div>
        </div>
        <div class="cocktailLiquors">
            {% for liquor in liquors %}
                <li>{{ liquor }}</li>
            {% endfor %}
        </div>
    </main>
{% endblock %}
