{% extends 'base.html' %}
{% block content %}
    <!-- Contact -->
    <section class="container">
        <h2>Contact</h2>
        <p>Hey Guys,</p>
        <p>Do you want to reach out to The Drinking Hub team? We would love to hear from you. Use the contact form or applicable email address below.</p>
        <form class="contactForm">
            <input type="text" name="name" id="name" placeholder="Name" required>
            <input type="email" name="email" id="email" placeholder="Email" required>
            <textarea id="overview" name="project" placeholder="How can we help you?" cols="1" rows="1" required></textarea>
            <button id="submit-btn" class="card" type="submit">Send Message</button>
        </form>
    </section>
    <!-- End -->
{% endblock %}