{% extends 'base.html' %}
{% block content %}
    <!-- Contact -->
    <section class="container">
        <h2>Contact</h2>
        <p>Hey Guys,</p>
        <p>Do you want to reach out to The Drinking Hub team? We would love to hear from you on any matters regarding our site. Use the contact form or one of the email address' below.</p>
        <form class="contactForm">
            <input type="text" name="name" id="name" placeholder="Name" required>
            <input type="email" name="email" id="email" placeholder="Email" required>
            <textarea id="overview" name="project" placeholder="How can we help you?" cols="1" rows="1" required></textarea>
            <button id="submit-btn" class="card" type="submit">Send Message</button>
        </form>
        <div class="contact-details">
            <h3 class="col">Alternatively</h3>
            <p>If you are having issues with the site or maybe you have suggestions for us to make your browsing experience better: <a class="col">support@drinkhub.com</a></p>
            <p>To speak with us about another issue: <a class="col">contact@drinkhub.com</a></p>
            <p>Mailing Address: <br>The Drinking Hub <br>88 Queen Street <br>Sheffield <br>South Yorkshire <br>S1 2FW</p>
        </div>
    </section>
    <!-- End -->
{% endblock %}