{% extends 'base.html' %}
{% block content %}
    <main class="container">
        <div class="row">
            {% for drink in drinks %}
            <div class="card">

                <img class="drinkImage" src="{{drink.image}}" alt="" srcset="">
                <h3>{{drink.drink_name}}</h3>
                <ul class="drinkIngredients">
                {% for ingredient in drink.ingredients %}
                     <li><p><span class="col">&gt;</span> {{ingredient}}</p></li>
                {% endfor %}
                </ul>
                <ul>
                {% for liquor in drink.liquor_name %}
                    <li>{{liquor}}</li>
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </main>
    <!-- {% for drink in drinks %}
        {{drink.liquor}}
        {{drink.publisher_name}}
        {{drink.drink_name}}
        {{drink.ingredients}}
        {{drink.notes}}
    {% endfor %} -->
{% endblock %}
