{% extends 'base.html' %}
{% block content %}
    <main class="container">
        <div class="row">
            {% for drink in drinks %}
            <div class="card">
                <div class="cardTop">
                    <div>
                        <img class="drinkImage" src="{{drink.image}}" alt="" srcset="">
                    </div>
                    <div>
                        <h3>{{drink.drink_name}}</h3>
                        <ul class="drinkIngredients">
                        <div class="drinkIngredientsTitle">
                            <h4>Ingredients</h4>
                        </div>
                            {% for ingredient in drink.ingredients %}
                            <li><p><span class="col">&gt;</span> {{ingredient}}</p></li>
                            {% endfor %}
                            <div class="viewMore">
                            <a href="{{url_for('display_cocktail', drink_id=drink._id)}}">View Cocktail</a>
                           
                            </div>
                        </ul>
                    </div>
                </div>
                <h4>Liquors</h4>
                <ul class="drinkLiquors">
                {% for liquor in drink.liquor_name %}
                    <li>{{liquor}}</li>
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
