{% extends 'base.html' %}
{% block content %}
    <title>Drinking Hub{% block title %} - All Drinks {% endblock %}</title>

    <section class="container">
        <form action="{{url_for('find_cocktails')}}">
            <div class="searchBar">
                <input type="search" name="search" id="search" placeholder="Search for a specific liquor:(Make sure to use capital letters at the start of the word)">
            </div>
            <div class="searchBtn">
                <button>Search</button>
            </div>
        </form>
    </section>

<section class="container">
    <div class="container">
    <div class="hr"></div>
    <div class="pagination">
        <!-- Previous -->
        <a href="{{ url_for('get_drinks', current_page=current_page-1) }}">Prev</a>
        <!-- Page Numbers -->
        <ul>
            <li><a>Current Page</a></li>
        </ul>
        <!-- Next -->
        <a href="{{ url_for('get_drinks', current_page=current_page+1) }}">Next</a>
    </div>
    
    </div>
</section>

    <main class="container">
        <div class="row">
            {% for drink in drinks %}
            <div class="card">
                <div class="cardTop">
                    <div>
                        <img class="drinkImage" src="{{drink.image}}" alt="{{drink.name}}">
                    </div>
                    <div class="drinkName">
                        <h3>{{drink.name}}</h3>
                        <div class="viewMore">
                            <a href="{{url_for('display_cocktail', drink_id=drink._id)}}">View Cocktail</a>
                        </div>
                    </div>
                </div>

                <h4>Contains:</h4>
                <ul class="drinkLiquors">
                    <li>{{drink.liquors}}</li>
                </ul>

                <!-- <div class="manage">
                    <a class="manageBtn editBtn" href="{{url_for('edit_cocktail', drink_id=drink._id)}}">Edit</a>
                    <a class="manageBtn deleteBtn" id="delValidation" href="{{url_for('delete_cocktail', drink_id=drink._id)}}">Delete</a> 
                </div> -->
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
