{% extends 'base.html' %}
{% block content %}
    <main class="container">
        <div id="welcome">
            <img class="websiteLogo" src="static/images/drinkDatabaseLogo.png" alt="The Drinking Database">
            <h1 id="welcomeText">Welcome To The Drinking Hub</h1>
        </div>

        <div id="about">
            <p>The Drinking Database is an online platform allowing users to easily learn new recipes without having any experience in cocktail making. All our recipes are user-submitted and range in complexity - some may have one or two ingredients whereas others can have many many more. If you have your own recipe, share it with us: You can add, edit and, even delete recipes. Enjoy!</p>
            <div id="line"></div>
            <a href="#">Show me the cocktails!</a>
        </div>
    </main>

    <!-- <section class="container">
        <div id="liquorCategories">
                <div class="test"></div>
                <div class="test"></div>
                <div class="test"></div>
                <div class="test"></div>
                <div class="test"></div>
                <div class="test"></div>
                <div class="test"></div>
        </div>
    </section> -->
    
{% endblock %}
